.section-heading {
  margin-top: 50px;
}
.item .down-content {
  background-color: #fff;
}

.item .down-content h4 {
  padding: 25px;
  font-size: 18px;
  color: #1f272b;
  text-align: center;
  border-bottom: 1px solid #eee;
  text-decoration: none;
}

.item .down-content .info {
  padding: 25px;
}

.item .down-content .info span {
  color: #a12c2f;
  font-size: 15px;
  font-weight: 600;
  text-align: right;
  display: inline-block;
  width: 100%;
}
